.rounded {
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.rounded:hover {
    transform: scale(1.03);
}

.large-text {
    font-size: 1.2em;
}

.projectimg {
    height: 350px;
}

.center-text {
    text-align: center;
}

.text-white-80 {
    opacity: 0.8;
}

.text-underline {
    text-decoration: none;
}

.text-underline:hover {
    text-decoration: underline;
}

.image90 {
    transform: scale(0.9);
}