.rounded {
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.selfie {
    margin-top: -75px;
    transform: scale(1.30);
}

.rounded:hover {
    transform: scale(1.35);

}

.large-text {
    font-size: 1.2em;
}

.projectimg {
    height: 250px;
}

.center-text {
    text-align: center;
}

.text-white-80 {
    opacity: 0.8;
}

.text-underline {
    text-decoration: none;
}

.text-underline:hover {
    text-decoration: underline;
}

.image90 {
    transform: scale(0.9);
}

.logo {
    width: 50px;
}

@media(max-width: 800px) {
    .selfie {
        display: none;
    }
}