/* FOOTER */

.footer {
    width: 100vw;
    min-height: 30vh;
    height: auto;
    background-color: black;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: start;
    padding-bottom: 40px;
}

.footer-title {
	font-size: 50px;
	color: white;
	padding-top: 0px;
	letter-spacing: 2.14px;
	display: block;
}

.footer-form {
	display: grid;
	grid-template-columns: 70% 30%;
	width: 50vw;
	margin-right: 25vw;
	margin-left: 25vw;
	height: 100px;
}

.footer-input {
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 36px;
	font-weight: normal;
	padding-left: 20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	outline: none;
}

.footer-submit-button {
	background-color: green;
	color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	outline: none;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 900;
	cursor: pointer;
	transition: 0.5s;
}

.footer-submit-button:hover {
	transform: scale(1.05);
}

/* MEDIA QUERIES */

@media(max-width: 1200px) {
	.footer-title {
		font-size: 45px;
	}

	.footer-form {
		width: 60vw;
		margin-right: 20vw;
		margin-left: 20vw;
	}
}

@media(max-width: 1000px) {
	.footer-title {
		font-size: 40px;
	}

	.footer-form {
		width: 66vw;
		margin-right: 17vw;
		margin-left: 17vw;
	}
}

@media(max-width: 800px) {
	.footer-title {
		font-size: 40px;
	}

	.footer-form {
		width: 80vw;
		margin-right: 10vw;
		margin-left: 10vw;
	}

	.footer-submit-button {
		font-size: 20px;
	}
}

@media(max-width: 700px) {
	.footer-title {
		font-size: 35px;
	}

	.footer-form {
		width: 90vw;
		margin-right: 5vw;
		margin-left: 5vw;
	}
}

@media(max-width: 500px) {
	.footer-title {
		font-size: 30px;
	}

	.footer-form {
		width: 90vw;
		margin-right: 5vw;
		margin-left: 5vw;
	}

	.footer-input {
		font-size: 25px;
	}

	.footer-submit-button {
		font-size: 15px;
	}
}




