.home {
	width: 100vw;
	height: 100vh;
	background-image: url('../img/cool-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	padding-right: 50px;
}

.header {
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-self: center;
	position: absolute;
	top: 30%;
	width: auto;
	max-width: 900px;
	height: auto;
	transition: 0.7s;
	grid-template-rows: repeat(3, 1fr);
	overflow: auto;
}

.header:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.selfie {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transition: 0.7s;
	opacity: 0;
}

.selfie:hover {
	transform: scale(1.03);
	cursor: pointer;
}

.h1 {
	font-weight: medium;
	color: white;
	margin-top: 0px; 
	font-size: calc(30px + (90 - 30) * ((100vw - 300px) / (1600 - 300)));
  	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.p {
	color: white;
	font-size: calc(18px + (45 - 18) * ((100vw - 300px) / (1600 - 300)));
  	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  	max-width: 66vw; 
}

.hiremebutton {
	max-width: 300px;
	background-color: white;
	border-radius: 30px;
	transition: 0.7s;
	border: none;
	outline: none;
	margin-top: 0;
	padding: 15px;
}

.hiremebutton:hover {
	background-color: snow;
	cursor: pointer;
	letter-spacing: 1px;
}

.hiremebutton a {
	font-weight: 900;
	color: black;
	font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
  	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}


@media(min-width: 540px) {
	.header {
		margin-left: 55px;
	}
	.hiremebutton {
		border-radius: 50px;
	}
}

@media(min-width: 700px) {
	.header {
		margin-left: 90px;
	}
	.hiremebutton {
		border-radius: 50px;
	}
}

@media(min-width: 800px) {
	.header {
		margin-left: 130px;
	}
}

@media(min-width: 900px) {
	.header {
		margin-left: 160px;
	}
}

@media(min-width: 1000px) {
	.header {
		margin-left: 190px;
	}
}

@media(min-width: 1100px) {
	.header {
		margin-left: 130px;
	}
}

@media(min-width: 1200px) {
	.header {
		margin-left: 220px;
	}
}

@media(min-width: 1300px) {
	.header {
		margin-left: 240px;
	}
}

@media(min-width: 1440px) {
	.header {
		margin-left: 260px;
	}
}
