/* HOME */


.home {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../img/darkwoods.jpeg');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 40px;
}

/* HEADER */


header {
    width: 100vw;
    height: 10vh;
    position: sticky;
    top: 10px;
    left: 0;
    background-color: none;
    display: grid;
    align-content: center;
    padding-left: 35px;
    padding-right: 35px;
    z-index: 500;
}

.logo {
    width: 80px;
    height: 50px;
    margin-top: -20px;
    transition: 0.5s;
}

.logo:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.logo img:hover {
    opacity: 0.8;
}

.navigation {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: absolute;
    top: 28px;
    right: 40px;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    max-width: 450px;
}

.nav-link {
    font-size: 20px;
    margin-left: 30px;
    letter-spacing: 1.25px;
    font-weight: 100;
    transition: 0.5s;
}

.nav-link a {
    color: lightblue;
}

.nav-link:hover {
    border-bottom: 3px solid lightblue;
    font-weight: 900;
}

.menu-button {
    width: auto;
    height: auto;
    position: absolute;
    top: 18px;
    right: 40px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    opacity: 0;
    display: none;
    pointer-events: none;
    animation-name: menubutton;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    transition: 0.5s;
}

.menu-button:hover {
    opacity: 0.8;
}

@keyframes menubutton {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0px);
    }
}

/* INTRO SECTION */

.intro-section {
    position: absolute;
    top: 27.5%;
    left: 35px;
    width: auto;
    height: auto;
    color: white;
}

.greeting-h1 {
    font-size: 60px;
    letter-spacing: 2px;
    cursor: pointer;
}

.title-bold {
    color: transparent;
    -webkit-text-stroke: 2.5px white;
    transition: 0.5s ease;
    font-family: 'Kanit', sans-serif;
}

.title-bold:hover {
    color: white;
}

.greeting-p {
    font-size: 25px;
    letter-spacing: 1.5px;
    line-height: 34px;
    margin-top: -60px;
    width: 660px;
}

.greeting-button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.86px;
    outline: none;
    transition: 0.7s;
    cursor: pointer;
    border: 3px solid yellow;
}

.greeting-button:hover {
    letter-spacing: 2px;
    border-radius: 30px;
}

.selfie-img-section {
    width: 27vw;
    height: auto;
    position: absolute;
    top: 15vh;
    right: 40px;
    transition: 0.5s;
}

.selfie-img-section:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.selfie-img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.selfie-img:hover {
    filter: grayscale(100%);
    transform: rotate(1deg) scale(1.03);
}

.sliding-left-door {
    width: 50vw;
    height: 100vh;
    background-color: black;
    animation-name: slidingleftdoor;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    z-index: 13040404504;
    position: absolute;
    top: 0px;
    left: 0px;
}

@keyframes slidingleftdoor {
    from {
        width: 50vw;
    }

    to {
        width: 0vw;
    }
}

.sliding-right-door {
    width: 50vw;
    height: 100vh;
    background-color: black;
    animation-name: slidingrightdoor;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    z-index: 13040404504;
    position: absolute;
    top: 0px;
    right: 0px;
}

@keyframes slidingrightdoor {
    from {
        width: 50vw;
    }

    to {
        width: 0vw;
    }
}

.intro-screen {
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation-name: introscreen;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 6s;
    z-index: 13040404504555;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase;
    overflow-y: hidden;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.intro-title {
    font-weight: bold;
}


@keyframes introscreen {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
        pointer-events: none;
    }
}


/* Media Queries */

@media(max-width: 1700px) {
    .selfie-img-section {
        margin-top: 80px;
    }
}

@media(max-width: 1500px) {
    .selfie-img-section {
        margin-top: 100px;
    }
}


@media(max-width: 1200px) {
    .selfie-img-section {
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}

@media(max-width: 800px) {
    .intro-section {
        margin-left: -7vw;
        width: 100vw;
        padding: 40px;
    }

    .greeting-h1 {
        font-size: 55px;
        line-height: 60px;
    }

    .greeting-p {
        font-size: 20px;
        width: 90%;
        margin-top: -40px;
    }

    .greeting-button {
        font-size: 22px;
    }
}

@media(max-width: 600px) {
    .navigation {
        transform: scale(0.75);
    }

    .nav-link {
        margin-left: 20px;
    }

    .greeting-p {
        width: 330px;
    }
}

