.home {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(321.06deg, #02406D 0%, #5D80DA 99.98%, rgba(8, 42, 127, 0.208333) 99.99%, #001C65 100%, rgba(8, 41, 126, 0.2) 100%);
	position: absolute;
	top: 0;
	left: 0;
}

.header {
	display: grid;
	width: auto;
	width: auto;
	height: auto;
	transition: 0.7s;
	grid-template-rows: 60px;
	grid-row-gap: 30px;
	text-align: center;
	align-content: center;
	margin-top: -25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header div {
	display: grid;
	align-content: space-around;
	justify-content: center;
}

.name {
	font-weight: 100;
	color: white;
	margin-top: 0px; 
	font-size: calc(35px + (50 - 35) * ((100vw - 300px) / (1600 - 300)));
  	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  	letter-spacing: -1px;
  	animation: name 2s forwards;
  	transition: 0.5s;
}

.name:hover {
	transform: scale(1.1);
	cursor: pointer;
}



@keyframes name {
	from {
		margin-top: -750px;
	}

	to {
		margin-top: 0;
	}
}

.webdesigner {
	color: white;
	font-size: calc(40px + (100 - 40) * ((100vw - 300px) / (1600 - 300)));
  	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  	font-weight: 900;
  	letter-spacing: -2px;
  	animation: webdesigner 4s forwards;
  	transition: 0.5s;
}

.webdesigner:hover {
	transform: scale(1.1);
	cursor: pointer;
}

@keyframes webdesigner {
	from {
		margin-left: -3000px;
	}

	to {
		margin-left: 0;
	}
}

.hiremebutton {
	width: 200px;
	height: 75px;
	border: 3px solid white;
	background: none;
	border-radius: 37.5px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0.05px;
	outline: none;
	animation: hiremebutton 3s forwards;
	transition: 0.5s;
}

.hiremebutton:hover {
	transform: scale(1.1);
	cursor: pointer;
	background-color: black;
	border-radius: 0;
	border: 6px solid white;
}

@keyframes hiremebutton {
	from {
		margin-bottom: 2000px;
	}

	to {
		margin-bottom: 0;
	}
}

.hiremebutton a {
	text-align: center;
	font-weight: 900;
	color: white;
}

@media(max-width: 1100px) {
	.header {
		width: 95%;
		height: 95%;
		grid-gap: 20px;
	}
}

@media(max-width: 900px) {
	.header {
		width: 93%;
		height: 93%;
		grid-gap: 17px;
	}
}

@media(max-width: 700px) {
	.header {
		width: 90%;
		height: 90%;
		grid-gap: 15px;
	}
}

@media(max-width: 500px) {
	.header {
		width: 85%;
		height: 85%;
		grid-gap: 10px;
	}
}


