/* MOBILE */

@media(max-width: 1500px) {
    .left-section-title {
        font-size: 50px;
    }

    .left-section-subtitle {
        font-size: 23px;
    }

    .btn {
        padding: 13px;
        font-size: 17px;
    }

    .right-section-img {
        transform: scale(1.4);
    }

    .right-section-img:hover {
        transform: scale(1.5);
    }
}

@media(max-width: 1150px) {
    .left-section-title {
        font-size: 42px;
    }

    .left-section-subtitle {
        font-size: 19px;
    }

    .btn {
        padding: 11px;
        font-size: 15px;
    }
}

@media(max-width: 800px) {
    .left-section-title {
        font-size: 40px;
    }

    .left-section-subtitle {
        font-size: 20px;
    }

    .btn {
        padding: 12px;
        font-size: 15px;
    }
}

@media(max-width: 750px) {
    .left-section-title {
        font-size: 34px;
    }

    .left-section-subtitle {
        font-size: 18px;
    }
}

@media(max-width: 700px) {
    .left-section-title {
        font-size: 30px;
    }

    .left-section-subtitle {
        font-size: 17px;
    }
}

@media(max-width: 600px) {
    .services-link {
        display: none;
    }

    .navbar {
        width: 300px;
    }
}

@media(max-width: 450px) {
    .navbar {
        width: 200px;
        font-size: 0.9em;
    }

    .services-section {
        margin-top: -30px;
    }
}

@media(max-width: 500px) {
    .left-section-title {
        font-size: 28px;
    }

    .aboutme-text {
        font-size: 25px;
    }

    .navbar {
        width: 250px;
    }

    .left-section-subtitle {
        font-size: 15px;
    }

    .aboutme-section {
        text-align: left;
    }

    .aboutme-section h1 {
        font-size: 1.6em;
    }

    .contact-section-text {
        font-size: 1.3em;
    }

    .articles-section {
        padding: 5em 2em;
    }
}

@media(max-width: 1320px) {
    .left-section {
        padding-left: 50px;
    }
}

@media(max-width: 1160px) {
    .left-section {
        padding-left: 0px;
    }
}

@media(max-width: 1300px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-title {
        color: black;
        font-size: 55px;
    }

    .aboutme-text {
        font-size: 40px;
    }

    .left-section-title {
        font-size: 46px;
    }

    .left-section-subtitle {
        font-size: 21px;
    }

    .btn {
        padding: 12px;
        font-size: 16px;
    }
}

@media(max-width: 1100px) {
    .aboutme-text {
        font-size: 35px;
    }

    .footer-section {
        margin-top: 500px;
    }
}

@media(max-width: 1000px) {
    .services-section {
        width: 80vw;
    }

    .sidebar {
        display: none;
    }

    .contact-title {
        color: black;
        font-size: 50px;
    }

    .sections-grid {
        grid-template-columns: repeat(1, 1fr);
        min-height: 30vh;
    }

    .articles-section-grid  {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-section-img {
        display: none;
    }

    .left-section-inside {
        margin-left: 0%;
        text-align: center;
    }

    .learn-more-btn {
        display: none;
    }

    .btn {
        width: 300px;
    }

    .left-section {
        justify-content: center;
    }

    .aboutme-text {
        font-size: 30px;
    }
}

@media(max-width: 900px) {
    .services-section {
        width: 85vw;
    }
}

@media(max-width: 800px) {
    .services-section {
        width: 90vw;
    }

    .contact-title {
        color: black;
        font-size: 45px;
    }
}

@media(max-width: 700px) {
    .left-section-inside {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media(max-width: 800px) {
    .service {
        padding: 4em 1em;
    }

    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media(max-width: 700px) {
    .aboutme-section {
        max-height: 600px;
    }

    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .service:nth-child(1) {
        border-bottom-left-radius: 0px;
    }

    .service:nth-child(2) {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media(max-width: 768px) {
    .startaproject-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .startaproject {
        max-height: 350px;
    }
}

@media(max-width: 550px) {
    .contact-section {
        text-align: left;
    }
    .contact-title {
        color: black;
        font-size: 43px;
    }
}

@media(max-width: 425px) {
    .footer-section {
        margin-top: 550px;
    }
}

@media(max-width: 400px) {
    .projects-grid {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        transform: scale(0.9);
        margin-top: -30px;
    }

    .footer-section {
        margin-top: 650px;
    }
}

@media(max-width: 370px) {
    .footer-section {
        margin-top: 750px;
    }

    .projects-section {
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 360px) {
    .aboutme-section {
        min-height: 375px;
    }

    .projects-grid {
        transform: scale(0.85);
        width: 100vw;
        margin-top: -80px;
    }
}

@media(max-width: 350px) {
    .footer-section {
        margin-top: 850px;
    }
}

@media(max-width: 320px) {
    .footer-section {
        margin-top: 950px;
    }
}