/* MY ARTICLES */

.myarticles {
    width: 100vw;
    height: 60vh;
    color: black;
    background-color: white;
}

.myarticles-title {
	font-size: 60px;
	letter-spacing: 1.5px;
	text-align: center;
}

.myarticles-grid {
	width: 40vw;
	margin-right: 30vw;
	margin-left: 30vw;
	height: 320px;
	display: grid;
	grid-gap: 40px;
	grid-template-rows: repeat(3, 1fr);
}

.article {
	background-color: #BEBEBE;
	display: grid;
	justify-content: center;
	align-content: center;
	border-radius: 5px;
}

.article-title {
	color: black;
	font-weight: 700;
	font-size: 25px;
	letter-spacing: 1px;
	line-height: 34px;
}

.article-date {
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;
	letter-spacing: 0.8px;
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
}

/* MEDIA QUERIES */

@media(max-width: 1500px) {
	.myarticles-grid {
		width: 50vw;
		margin-right: 25vw;
		margin-left: 25vw;
	}
}

@media(max-width: 1100px) {
	.myarticles-grid {
		width: 60vw;
		margin-left: 20vw;
		margin-right: 20vw;
	}
}

@media(max-width: 950px) {
	.myarticles-grid {
		width: 70vw;
		margin-right: 15vw;
		margin-left: 15vw;
	}

	.myarticles-title {
		font-size: 50px;
	}
}

@media(max-width: 850px) {
	.myarticles-grid {
		width: 80vw;
		margin-right: 10vw;
		margin-left: 10vw;
	}
}

@media(max-width: 750px) {
	.myarticles-grid {
		width: 90vw;
		margin-right: 5vw;
		margin-left: 5vw;
	}

	.article-title {
		font-size: 20px;
	}

	.article-date {
		font-size: 18px;
	}
}

@media(max-width: 480px) {
	.myarticles-grid {
		width: 94vw;
		margin-right: 3vw;
		margin-left: 3vw;
	}

	.article-title {
		font-size: 16px;
	}

	.article-date {
		font-size: 14px;
	}
}

