/* MY PROJECTS */


.myprojects {
    width: 100vw;
    height: auto;
    padding-bottom: 50px;
    background-color: black;
    margin-top: 93vh;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2px;
}

.myprojects-title {
	color: white;
    transition: 0.5s ease;
	text-align: center;
	font-size: 40px;
	letter-spacing: 3px;
	font-size: 60px;
	font-weight: 900;
}

.myprojects-grid {
	width: 90vw;
	margin-right: auto;
	margin-left: auto;
	min-height: 350px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 35px;
	margin-top: -10px;
}

.project {
	background-color: white;
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: 0.5s;
}

.project:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.project-grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 60% 40%;
}

.project-img {
	width: 100%;
	height: 100%;
}

.project-title {
	color: black;
}

.statusimtitle {
	color: black;
}

.project-info {
	width: 100%;
	height: auto;
	background-color: white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.project-link {
	color: black;
}

.project-date {
	opacity: 0.7;
	letter-spacing: 0.5px;
	font-weight: 600;
	margin-top: -10px;
}

.visit-button {
	padding: 7px 50px;
	outline: none;
	border: none;
	background-color: black;
	margin-top: -5px;
	color: white;
	font-weight: 600;
	border-radius: 25px;
	letter-spacing: 1.5px;
	font-size: 25px;
	cursor: pointer;
	transition: 0.5s;
}

.visit-button:hover {
	border-radius: 0px;
}

.statusimdesignproject {
	width: 90vw;
	height: 400px;
	margin-right: 5vw;
	margin-left: 5vw;
	background: linear-gradient(20deg, lightblue, steelblue);
	background-size: cover;
	background-position: center;
	margin-top: 33px;
	display: grid;
	justify-content: end;
	align-content: center;
	border-radius: 10px;
}

.statusim-info {
	width: 350px;
	height: auto;
	border-radius: 10px;
	padding-bottom: 30px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: white;
	margin-right: 20px;
	display: grid;
	align-content: start;
	justify-content: center;
	transition: 0.5s;
}

.statusim-info:hover {
	transform: scale(1.03);
}

/* MEDIA QUERIES */

@media(max-width: 1500px) {
	.myprojects-grid {
		grid-gap: 25px;
	}
}

@media(max-width: 1000px) {
	.myprojects {
		min-height: 1500px;
	}
	.myprojects-grid {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 0% 100%;
	}

	.statusimdesignproject {
		margin-top: 300px;
	}

	.project-img {
		display: none;
	}

	.project {
		padding-bottom: 30px;
		height: 175px;
		display: grid;
		align-content: center;
		justify-content: center;
	}

	.project:nth-child(2) {
		margin-top: 175px;
	}

	.project:nth-child(3) {
		margin-top: -220px;
	}

	.statusimdesignproject {
		display: grid;
		justify-content: center;
		align-content: center;
		margin-top: 50px;
		border: 1px solid white;
	}

	.statusim-info {
		width: 50vw;
		height: 150px;
		margin-right: 25vw;
		margin-left: 25vw;
		border-radius: 10px;
		background-color: white;
		display: grid;
		align-content: start;
		justify-content: center;
		text-align: center;
	}
}

@media(max-width: 900px) {
	.statusim-info {
		width: 70vw;
		margin-right: 15vw;
		margin-left: 15vw;
	}
}

@media(max-width: 800px) {
	.statusim-info {
		width: 76vw;
		margin-right: 13vw;
		margin-left: 13vw;
	}
}


@media(max-width: 600px) {
	.statusim-info {
		width: 90vw;
		margin-right: 5vw;
		margin-left: 5vw;
	}
}


@media(max-width: 515px) {
	.myprojects {
		margin-top: 88vh;
	}
}


