/* MY PROJECTS */


.myprojects {
    width: 100vw;
    height: auto;
    padding-bottom: 50px;
    background-color: black;
    margin-top: 90vh;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2px;
}

.myprojects-title {
	color: white;
    transition: 0.5s ease;
	text-align: center;
	font-size: 40px;
	letter-spacing: 3px;
	font-size: 60px;
	font-weight: 900;
}

.myprojects-grid {
	width: 90vw;
	margin-right: auto;
	margin-left: auto;
	min-height: 350px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 35px;
	margin-top: -10px;
}

.project {
	background-color: white;
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.project-grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 60% 40%;
}

.project-img {
	width: 100%;
	height: 100%;
}

.project-title {
	color: black;
}

.statusimtitle {
	color: black;
}

.project-info {
	width: 100%;
	height: auto;
	background-color: white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.project-link {
	color: black;
}

.project-date {
	opacity: 0.7;
	letter-spacing: 0.5px;
	font-weight: 600;
	margin-top: -10px;
}

.visit-button {
	padding: 7px 50px;
	outline: none;
	border: none;
	background-color: black;
	margin-top: -5px;
	color: white;
	font-weight: 600;
	border-radius: 25px;
	letter-spacing: 1.5px;
	font-size: 25px;
	cursor: pointer;
	transition: 0.5s;
}

.visit-button:hover {
	border-radius: 0px;
}

.statusimdesignproject {
	width: 90vw;
	height: 400px;
	margin-right: 5vw;
	margin-left: 5vw;
	background-image: url('../img/anothercodingbg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 33px;
	display: grid;
	justify-content: end;
	align-content: center;
}

.statusim-info {
	width: 350px;
	height: 150px;
	border-radius: 10px;
	background-color: white;
	margin-right: 20px;
	display: grid;
	align-content: start;
	justify-content: center;
}

/* MEDIA QUERIES */

@media(max-width: 1500px) {
	.myprojects-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(max-width: 1000px) {
	.myprojects-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
