/* MY SPECIALTIES */

.myspecialties {
    width: 100vw;
    height: auto;
    min-height: 235px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.myspecialties-title {
	text-align: center;
	font-size: 60px;
	margin-top: -20px;
}

.myspecialties-grid {
	margin-right: 5vw;
	margin-left: 5vw;
	width: 90vw;
	height: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 35px;
	margin-top: 0px;
}

.specialty {
	background-color: #3F3F3F;
	text-align: center;
	display: grid;
	justify-content: center;
	align-content: center;
	font-size: 35px;
	font-weight: bold;
	color: white;
	letter-spacing: 1.5px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px grey;
	text-transform: uppercase;
	font-family: 'Balthazar', sans-serif;
	transition: 0.5s;
	cursor: pointer;
}

.specialty:hover {
	transform: scale(0.9);
}

/* MEDIA QUERIES */

@media(max-width: 1200px) {
	.myspecialties-grid {
		grid-gap: 25px;
	}
}

@media(max-width: 1000px) {
	.myspecialties-grid {
		grid-template-columns: 1fr;
	}

	.myspecialties {
		min-height: 550px;
	}
}

@media(max-width: 950px) {
	.myspecialties-title {
		font-size: 50px;
	}
}