* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c4302b;
  font-family: 'Rubik Mono One', sans-serif;
  overflow: hidden;
}

h1 {
  margin: 0;
}

.josh {
  position: absolute;
  top: -10px;
  left: 10vw;
  font-size: 250px;
  color: white;
  margin: 0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  animation: 2s josh;
}

@keyframes josh {
  from {
    left: -1000px;
  }

  to {
    left: 10vw;
  }
}

.codes {
  position: absolute;
  top: 150px;
  right: 10vw;
  font-size: 250px;
  color: snow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  animation: 4s codes;
}

@keyframes codes {
  from {
    right: -1000px;
  }

  to {
    right: 10vw;
  }
}

.play-section {
  position: absolute;
  bottom: -80px;
  right: -40px;
  width: 550px;
  height: 400px;
  display: grid;
  align-content: center;
  animation: 3s youtubebutton;
}

.youtube-button {
  width: 100%;
  margin-right: 0%;
  margin-left: 0%;
  padding: 20px;
  height: 74%;
  margin-top: 13%;
  margin-bottom: 13%;
  font-size: 80px;
}

@keyframes youtubebutton {
  from {
    bottom: -1080px;
  }

  to {
    bottom: -80px;
  }
}

img {
  width: 100%;
  height: 100%;
  border-radius: 85px;
  padding: 0px;
  transition: all 1s ease;
  margin-top: -50px;
}

img:hover {
  transform: scale(0.98);
}


.projects-section {
  width: 100vw;
  background-color: white;
  height: auto;
  position: absolute;
  left: 0px;
  top: 100vh;
  padding: 10px;
  transition: 1s;
}

.projects-section .projects-grid {
  width: 90%;
  height: 94%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: grid;
  margin-right: 5%;
  margin-left: 5%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.projects-section .projects-grid div {
  border: 1px solid black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Raleway', sans-serif;
  border-radius: 7px;
  background-color: snow;
  cursor: pointer;
  transition: 0.5s;
  max-height: 180px;
}

.projects-section .projects-grid div:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 10px lightgrey;
}

.projects-section .projects-grid div h2 {
  font-size: 25px;
}

.btn {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  background-color: snow;
  color: black;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  transition: 0.2s;
  position: relative;
  bottom: -5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.goback {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 50px;
  background-color: red;
  color: white;
  letter-spacing: 1px;
  border-radius: 15px;
}

.border {
  border: 1px solid black;
  background-color: silver;
}

.projectsbtn {
  position: absolute;
  max-height: 150px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 50px;
  height: 140px;
  bottom: 2%;
  left: 2%;
  animation: 2s button;
  font-family: 'Raleway', sans-serif;
}

.projectsbtn:hover {
  letter-spacing: 2px;
}

@keyframes button {
  from {
    bottom: -300px;
  }
  to {
    bottom: 2%;
  }
}


.btn:hover {
  opacity: 0.9;
}



@media(max-width: 900px) {
  .projects-section .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }
}



@media(max-width: 700px) {
  img {
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
  }
}


@media(max-width: 1200px) {
  .josh {
    left: 5vw;
    transform: scale(0.9);
  }

  .codes {
    right: 5vw;
    transform: scale(0.9);
  }
}


@media(max-width: 1050px) {
  .josh {
    font-size: 130px;
    text-align: center;
    position: static;
    transform: scale(1);
  }

  @keyframes josh {
    from {
      margin-left: -1200px;
    }

    to {
      margin-left: 0px;
    }
  }


  .codes {
    font-size: 110px;
    text-align: center;
    position: static;
    margin-top: -40px;
    transform: scale(1);
  }

  @keyframes codes {
    from {
      margin-right: -1200px;
    }

    to {
      margin-right: 0px;
    }
  }

  .projectsbtn {
    animation: 3s smallbutton;
    font-size: 45px;
    padding-right: 15px;
    padding-left: 15px;
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    position: static;
  }

  @keyframes smallbutton {
    from {
      margin-top: -250px;
      opacity: 0;
    }
    to {
      margin-top: 50px;
      opacity: 1;
    }
  }


}

#projectstitle {
  text-align: center;
  font-family: 'Raleway';
  letter-spacing: 0.5px;
  font-size: 35px;
}
