* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c4302b;
  font-family: 'Rubik Mono One', sans-serif;
  overflow: hidden;
}

h1 {
  margin: 0;
}

.josh {
  position: absolute;
  top: -10px;
  left: 10vw;
  font-size: 250px;
  color: white;
  margin: 0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.codes {
  position: absolute;
  top: 150px;
  right: 10vw;
  font-size: 250px;
  color: snow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

@media(max-width: 1200px) {
  .josh {
    left: 5vw;
    transform: scale(0.9);
  }

  .codes {
    right: 5vw;
    transform: scale(0.9);
  }
}


@media(max-width: 1050px) {
  .josh {
    font-size: 140px;
    text-align: center;
    position: static;
    transform: scale(1);
  }

  .codes {
    font-size: 110px;
    text-align: center;
    position: static;
    margin-top: -40px;
    transform: scale(1);
  }

}


.play-section {
  position: absolute;
  bottom: -80px;
  right: -40px;
  width: 550px;
  height: 400px;
  display: grid;
  align-content: center;
}

.youtube-button {
  width: 100%;
  margin-right: 0%;
  margin-left: 0%;
  padding: 20px;
  height: 74%;
  margin-top: 13%;
  margin-bottom: 13%;
  font-size: 80px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 85px;
  padding: 0px;
  transition: all 1s ease;
}

img:hover {
  transform: scale(0.98);
}


@media(max-width: 700px) {
  img {
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
  }
}
