// -----------------------------------------------------------------------------
// This file contains all styles related to all grids.
// -----------------------------------------------------------------------------

.container {
    max-width: 100rem;
    padding: 0;

    @media(max-width: 1050px) {
        width: 90vw;
    }
}

.col-12 {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col-3 {
    flex-wrap: wrap;
    justify-content: space-evenly;

    .col {
        flex: 1;
        margin-right: 2rem;
        
        @media(max-width: 750px) {
            flex: auto;
        }
    }
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media(max-width: 675px) {
        grid-template-columns: 1fr;
    }
}

.col {
    flex: 1;
    margin: 0.75rem;
    flex-basis: 20rem;

    @media(max-width: 1200px) {
        flex-basis: 30rem;
    }
}