// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
    box-shadow: 0.3rem 0.3rem 0.8rem rgb(200, 200, 200);
    min-width: fit-content;
    min-height: fit-content;
    background-color: white;
}