// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation component.
// -----------------------------------------------------------------------------

.navbar {
    margin: 0 auto;
    max-width: 40rem;
    display: flex;
    background: transparent;
    z-index: 5;

    @media(max-width: 50rem) {
        max-width: 35rem;
    }

    @media(max-width: 45rem) {
        max-width: 30rem;
    }
}

.navbar-top {
    position: relative;
    top: 4rem;
    left: -2rem;
}

.list-item {
    list-style-type: none;
    flex: 1;
}

.vertical-item {
    margin-top: 1rem;
    margin-left: -2rem;
}