@import url("https://fonts.googleapis.com/css?family=Raleway:100, 200,300,400,500,600,700, 800,900&display=swap");
.code {
  background-color: #ebebeb;
  border-radius: 0.2rem;
  border: 0.1rem solid lightgrey;
  padding: 0 0.5rem;
}

.bg-white-to-light {
  background: -webkit-gradient(linear, left top, left bottom, from(#b6b6b6), to(white));
  background: linear-gradient(to bottom, #b6b6b6, white);
}

.bg-white {
  background-color: white;
}

.bg-dark {
  background-color: #082138;
}

.bg-light {
  background-color: #f5f5f5;
}

.bg-blue {
  background-color: #359bfa;
}

.bg-red {
  background-color: #eb1313;
}

.bg-orange {
  background-color: #d6621e;
}

.bg-green {
  background-color: #41a507;
}

.bg-yellow {
  background-color: yellow;
}

.bg-gray {
  background-color: #bebebe;
}

.bg-black {
  background-color: black;
}

.display-grid {
  display: -ms-grid;
  display: grid;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.center-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.center-page {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-self {
  margin: 0 auto;
}

.horizontal-center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.vertical-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.left {
  justify-items: start;
}

.right {
  justify-items: end;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.w-50 {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.w-25 {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
}

.blog-text {
  max-width: 45em;
}

.full-screen {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.half-screen {
  width: 100vw;
  -ms-flex-line-pack: end;
      align-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
  max-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.front {
  top: 0;
  left: 0;
  padding: 3rem;
}

@media (max-width: 400px) {
  .front {
    padding: 1.5rem;
  }
}

.fixed {
  position: fixed;
  width: 100%;
}

.raise-up {
  margin-top: -10vh;
}

.raise-up-slightly {
  margin-top: -2.3rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.border-none {
  border: none;
}

.border-1 {
  border: 0.1rem solid #a5a5a5;
}

.border-2 {
  border: 0.2rem solid #a5a5a5;
}

.border-3 {
  border: 0.3rem solid #a5a5a5;
}

.border-top-0 {
  border-top: 0;
}

.border-top-1 {
  border-top: 0.1rem solid #a5a5a5;
}

.border-top-2 {
  border-top: 0.2rem solid #a5a5a5;
}

.border-top-3 {
  border-top: 0.3rem solid #a5a5a5;
}

.border-left-0 {
  border-left: 0;
}

.border-left-1 {
  border-left: 0.1rem solid #a5a5a5;
}

.border-left-2 {
  border-left: 0.2rem solid #a5a5a5;
}

.border-left-3 {
  border-left: 0.3rem solid #a5a5a5;
}

.border-bottom-0 {
  border-bottom: 0;
}

.border-bottom-1 {
  border-bottom: 0.1rem solid #a5a5a5;
}

.border-bottom-2 {
  border-bottom: 0.2rem solid #a5a5a5;
}

.border-bottom-3 {
  border-bottom: 0.3rem solid #a5a5a5;
}

.border-right-0 {
  border-right: 0;
}

.border-right-1 {
  border-right: 0.1rem solid #a5a5a5;
}

.border-right-2 {
  border-right: 0.2rem solid #a5a5a5;
}

.border-right-3 {
  border-right: 0.3rem solid #a5a5a5;
}

.shadow {
  -webkit-box-shadow: 0.5rem 0.5rem 1rem #b4b4b4;
          box-shadow: 0.5rem 0.5rem 1rem #b4b4b4;
}

.hover-grow {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hover-grow:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.hover-round {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hover-round {
  border-radius: 1rem;
}

.rounded-0 {
  border-radius: 0;
}

.rounded-1 {
  border-radius: 1rem;
}

.rounded-2 {
  border-radius: 2rem;
}

.rounded-3 {
  border-radius: 3rem;
}

.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 350px) {
  .hide-phone {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .hide-tablet {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  .hide-desktop {
    display: none;
  }
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: #e50050;
  text-decoration: none;
}

button {
  outline: none;
}

/**
  * Basic typography style for text
*/
body {
  color: #222222;
  font: normal 125%/1.4 "Raleway", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.text-decoration-none:hover {
  text-decoration: none;
}

.text-small {
  font-size: 1.2rem;
}

.text-normal {
  font-size: 1.6rem;
}

.text-medium {
  font-size: 2rem;
}

@media (max-width: 500px) {
  .text-medium {
    font-size: 1.8rem;
  }
}

.text-large {
  font-size: 3.3rem;
}

@media (max-width: 800px) {
  .text-large {
    font-size: 3rem;
  }
}

.text-huge {
  font-size: 8rem;
}

@media (max-width: 900px) {
  .text-huge {
    font-size: 9rem;
  }
}

@media (max-width: 800px) {
  .text-huge {
    font-size: 8rem;
  }
}

@media (max-width: 600px) {
  .text-huge {
    font-size: 6rem;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-white {
  color: white;
}

.text-light {
  color: #f7f7f7;
}

.text-dark {
  color: #141414;
}

.text-black {
  color: #000;
}

.text-black:hover {
  color: #000;
}

.text-grey {
  color: #555555;
}

.text-blue {
  color: blue;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.font-weight-light {
  font-weight: light;
}

.front-weight-normal {
  font-weight: 500;
}

.font-weight-medium {
  font-size: 700;
}

.font-weight-bold {
  font-weight: 900;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  max-width: 100rem;
  padding: 0;
}

@media (max-width: 1050px) {
  .container {
    width: 90vw;
  }
}

.col-12 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.col-3 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.col-3 .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2rem;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
}

@media (max-width: 750px) {
  .col-3 .col {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 675px) {
  .col-2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
  -ms-flex-preferred-size: 50rem;
      flex-basis: 50rem;
}

.img {
  width: 100%;
  height: 100%;
}

.footer {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-top: 10rem;
}

.btn {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 1.5rem 2.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  cursor: pointer;
}

.btn-centered {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.btn-rounded {
  border-radius: 0.5rem;
}

.btn-pill {
  border-radius: 5rem;
}

.btn-massive {
  width: 18rem;
  height: 6rem;
}

.card {
  -webkit-box-shadow: 0.3rem 0.3rem 0.8rem #c8c8c8;
          box-shadow: 0.3rem 0.3rem 0.8rem #c8c8c8;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: white;
}

.navbar {
  margin: 0 auto;
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  z-index: 5;
}

@media (max-width: 50rem) {
  .navbar {
    max-width: 35rem;
  }
}

@media (max-width: 45rem) {
  .navbar {
    max-width: 30rem;
  }
}

.navbar-top {
  position: relative;
  top: 4rem;
  left: -2rem;
}

.list-item {
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.vertical-item {
  margin-top: 1rem;
  margin-left: -2rem;
}

.form {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .input {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0;
  width: 35rem;
  max-width: 35rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #adadad;
}

.form .input:focus {
  outline: none;
  border: 0.1rem solid #2c76ff;
}

@media (max-width: 450px) {
  .form .input {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 30rem;
  }
}
/*# sourceMappingURL=main.css.map */