// -----------------------------------------------------------------------------
// This file contains all utilities.
// -----------------------------------------------------------------------------

.code {
    background-color: rgb(235, 235, 235);
    border-radius: 0.2rem;
    border: 0.1rem solid lightgrey;
    padding: 0 0.5rem;
}

.bg-white {
    background-color: white;
}

.bg-dark {
    background-color: #082138;
}

.bg-light {
    background-color: #f5f5f5;
}

.bg-blue {
    background-color: rgb(53, 155, 250);
}

.bg-red {
    background-color: #eb1313;
}

.bg-orange {
    background-color: #d6621e;
}

.bg-green {
    background-color: #41a507;
}

.bg-yellow {
    background-color: yellow;
}

.bg-gray {
    background-color: rgb(190, 190, 190);
}

.bg-black {
    background-color: black;
}

.display-grid {
    display: grid;
}

.display-flex {
    display: flex;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.center-items {
    align-items: center;
    justify-items: center;
}

.center-page {
    align-content: center;
    justify-content: center;
}

.center-self {
    margin: 0 auto;
}

.horizontal-center {
    justify-self: center;
}

.vertical-center {
    align-self: center;
}

.left {
    justify-items: start;
}

.right {
    justify-items: end;
}

.w-100 {
    width: 100%;
}

.full-screen {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.front {
    top: 0;
    left: 0;
    padding: 3rem;

    @media(max-width: 400px) {
        padding: 1.5rem;
    }
}

.fixed {
    position: fixed;
    width: 100%;
}

.raise-up {
    margin-top: -10vh;
}

.raise-up-slightly {
    margin-top: -2.3rem;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 3rem;
}

.border-none {
    border: none;
}

.border-1 {
    border: 0.1rem solid rgb(165, 165, 165);
}

.border-2 {
    border: 0.2rem solid rgb(165, 165, 165);
}

.border-3 {
    border: 0.3rem solid rgb(165, 165, 165);
}

.border-top-0 {
    border-top: 0;
}

.border-top-1 {
    border-top: 0.1rem solid rgb(165, 165, 165);
}

.border-top-2 {
    border-top: 0.2rem solid rgb(165, 165, 165);
}

.border-top-3 {
    border-top: 0.3rem solid rgb(165, 165, 165);
}

.border-left-0 {
    border-left: 0;
}

.border-left-1 {
    border-left: 0.1rem solid rgb(165, 165, 165);
}

.border-left-2 {
    border-left: 0.2rem solid rgb(165, 165, 165);
}

.border-left-3 {
    border-left: 0.3rem solid rgb(165, 165, 165);
}

.border-bottom-0 {
    border-bottom: 0;
}

.border-bottom-1 {
    border-bottom: 0.1rem solid rgb(165, 165, 165);
}

.border-bottom-2 {
    border-bottom: 0.2rem solid rgb(165, 165, 165);
}

.border-bottom-3 {
    border-bottom: 0.3rem solid rgb(165, 165, 165);
}

.border-right-0 {
    border-right: 0;
}

.border-right-1 {
    border-right: 0.1rem solid rgb(165, 165, 165);
}

.border-right-2 {
    border-right: 0.2rem solid rgb(165, 165, 165);
}

.border-right-3 {
    border-right: 0.3rem solid rgb(165, 165, 165);
}

.shadow {
    box-shadow: 0.5rem 0.5rem 1rem rgb(180, 180, 180);
}

.hover-grow {
    transition: 0.5s;
}

.hover-grow:hover {
    transform: scale(1.02);
}

.hover-round {
    transition: 0.5s;
}

.hover-round {
    border-radius: 1rem;
}

.rounded-0 {
    border-radius: 0;
}

.rounded-1 {
    border-radius: 1rem;
}

.rounded-2 {
    border-radius: 2rem;
}

.rounded-3 {
    border-radius: 3rem;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-direction: forwards;
    transition: 1s;
}

@keyframes fade-in {
    from {
        opacity: 0.3;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.hide-phone {
    @media(max-width: 350px) {
        display: none !important;
    }
}

.hide-mobile {
    @media(max-width: 400px) {
        display: none !important;
    }
}

.hide-tablet {
    @media(max-width: 800px) {
        display: none !important;
    }
}

.hide-desktop {
    @media(min-width: 1000px) {
        display: none;
    }
}