/**
  * Basic typography style for text
*/

body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.text-decoration-none:hover {
  text-decoration: none;
}

.text-small {
  font-size: 1.2rem;
}

.text-normal {
  font-size: 1.6rem;
}

.text-medium {
  font-size: 2rem;
  
  @media(max-width: 500px) {
    font-size: 1.8rem;
  }
}

.text-large {
  font-size: 4rem;

  @media(max-width: 800px) {
    font-size: 3.7rem;
  }

  @media(max-width: 600px) {
    font-size: 3.2rem;
  }
}

.text-huge {
  font-size: 9rem;

  @media(max-width: 900px) {
    font-size: 8rem;
  }

  @media(max-width: 800px) {
    font-size: 7.5rem;
  }

  @media(max-width: 600px) {
    font-size: 6.5rem;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-white {
  color: white;
}

.text-light {
  color: #f7f7f7;
}

.text-dark {
  color: #141414;
}

.text-black {
  color: #000;

  &:hover {
    color: #000;
  }
}

.text-grey {
  color: rgb(85, 85, 85);
}

.text-blue {
  color: blue;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.font-weight-light {
  font-weight: light;
}

.front-weight-normal {
  font-weight: 500;
}

.font-weight-medium {
  font-size: 700;
}

.font-weight-bold {
  font-weight: 900;
}
